@font-face 
{
    font-family: "DM Mono";
    src: url("./fonts/DMMono-Light.ttf");
}

:root {
    --dark-blue: #293249;
    --dark-gray: #69656f;
    --gray: #aca1a1;
    --light-gray: #ded2cf;
    --pink-gray: #f7efed;
}

html, body 
{
    display: flex;
    min-height: 100%;
    margin: 0;
    justify-content: center;
    background-color: var(--pink-gray);
}

body 
{
    font-family: "DM Mono";
    color: var(--dark-gray);
}

.button 
{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #dde2e3;
    transition: 0.3s;
    padding: 10px;
}

.button:hover 
{
    background-color: #d1d9dc;
}

.main-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80ch;
    height: 100%;
    flex-wrap: nowrap;
    margin: 0px 40px 0px 40px;
}

a 
{
    text-decoration: none;
    color: inherit;
}

input, select {
    font-size: 16px;
    font-family: "DM Mono";
    background-color: #fff;
    border: 0px solid black;
    border-bottom: 1px solid black;
    background-color: var(--pink-gray);
}

/* navbar */

nav 
{
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 150px;
    align-items: center;
}

.navbar-item 
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    cursor: pointer;
    transition: 0.3s;
    font-weight:bold;
    border-top: 1px solid #9d9c9a;
    text-transform: uppercase;
    font-weight: normal;
    font-weight: bold
}

.navbar-item:hover 
{
    border-top: 1px solid #72747a;
    color: #72747a;
}

/* content */

.content 
{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.stat-box {
    width: 80px;
    height: 80px;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    margin-right: 10px;
}

.stat-box-title {
    border-bottom: 1px solid black;
    text-align: center;
}

.stat-box-body {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.stat-box-value {
    display: flex;
    flex: 2 0;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.stat-box-controls {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-left: 1px solid black;
}

.stat-box-bonus {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-left: 1px solid black;
}

.stat-box-controls span {
    display: flex;
    flex: 1 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.stat-box-controls span:first-child{
    border-bottom: 1px solid black;
}

.stat-box-controls span:hover {
    background-color: #bbb;
}

.stat-box-bonus span {
    display: flex;
    flex: 1 0;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.stat-box-bonus span:first-child{
    border-bottom: 1px solid black;
}


/* footer */

footer 
{
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
